<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Task Scheduler</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <!-- Custom CSS bcause Bootstrap yuck -->
      <link rel="stylesheet" href="../static/style.css">
   </head>
  <body>
    
    <!-- Landing Page -->
     <div class=" first-div">
        <p id="basic">Hello</p>
     </div>

  </body>
</html>